<h2 class="mb-4">
  Student List
  <a href="/students/addStudent">
    <i class="fa fa-user-plus interactivehover"></i>
  </a>
</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.average}}</td>
      <td class="interactivehover">
        <a href="/students/updateStudent/{{student.id}}">
          <i class="fa fa-pencil"></i>
        </a>
      </td>
      <td class="interactivehover">
        <a (click)="deleteStudent(student.id)">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>